.div_sh{
	  background-color: gray;
}
.child{
	 font-family: cursive;
    color:yellow;
    font-size: 10pt;
    text-align: left;

}
.h1{
	 font-family: cursive;
    color:yellow;
    font-size: 10pt;
    text-align: left;
}